@media(max-width: 1180px) {

    .container {
        // max-width: 1000px;
        padding: 20px;
    }

    .service-content {
        justify-content: space-evenly;

    }
}

@media(max-width: 1150px) {
    .menu {
        padding-right: 20px;
    }

    .header-img {
        width: 50%;
    }

    .header-text {
        margin-left: 60px;

        &__iam {
            font-size: 3rem;
        }
    }

    .about__img {
        margin-left: 20px;
    }

    .about__descr {
        margin-right: 20px;
    }

    .blog-content__item {
        width: 30%;
    }
}

@media(max-width: 1100px) {
    .container-left {
        justify-content: space-evenly;
    }

    .container-part {
        margin-right: 0;
        width: 40%;
    }

    .resume-item {
        width: 100%;
    }
}

@media(max-width: 992px) {
    .about__descr .btn-trans {
        display: block;
        margin: 0 auto;
    }

    .about__descr .mr {
        margin-bottom: 10px;
    }

    .contacts-content__items {
        margin-right: 20px;
        width: 35%;
    }

    .contacts-content__item {
        font-size: 1rem;
    }
}


@media(max-width: 867px) {
    .menu {
        padding: 0;

        &__item:first-child {
            margin-left: 0;
        }

        // padding: 0;
        margin: 0 10px;
        margin-top: 2.5rem;
    }

    .about__descr .btn-trans {
        display: block;
        text-align: center;
    }

    .about__descr .mr {
        margin-bottom: 10px;
    }

    .contacts-content__items {
        width: 40%;
    }
}

@media(max-width: 792px) {

    section, .about{
        padding-bottom: 40px;
    }

    .title {
        margin: 40px 0;
    }

    .title__line-gray {
        margin-bottom: 40px;
    }

    .menu {
        z-index: 10;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        margin: 0;
        transition: .6s all;

        background-color: rgba(0, 0, 0, .7);

        &_active {
            left: 0;
        }

        &__item {
            padding: 15px 0;
            margin: 0;
        }

        &__link {
            color: #fff;
        }

    }

    .humburger {
        position: fixed;
        right: 20px;
        top: 20px;
        // transform: translateY(-50%);
        width: 30px;
        display: block;
        height: 12px;
        // z-index: 10;

        span {
            display: block;
            width: 100%;
            height: 3px;
            margin-bottom: 3px;
            background-color: #000;
            transition: .5s all;
        }

        &_active {
            span {
                margin-bottom: -2px;

                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }

    .about__pic {
        width: 100%;
    }

    .service-content__item {
        width: 40%;
    }

    .blog-content {
        flex-wrap: wrap;
        justify-content: space-evenly;

        &__item {
            width: 40%;
            margin-bottom: 20px;
        }
    }

    .contacts-content__items {
        width: 70%;
    }
}


@media(max-width: 746px) {
    .header-text {
        margin-left: 40px;

        &__iam {
            font-size: 2.4rem;
        }
    }

    .freelancer-text{
        &__title{
            font-size: 2rem;
            line-height: 1.5;
        }
    }

    .freelancer-text{
        padding-left: 60px;
    }
}

@media(max-width: 688px) {
    .contacts-content__items {
        display: none;
    }

    .container-part__title {
        font-size: 1.8rem;
    }

    .contacts-content__btn-trans {
        display: block;
        margin: 10px auto;
    }
}


@media(max-width: 620px) {
    .header-text {
        &__iam {
            font-size: 1.9rem;
        }

        &__develop {
            font-size: 1.5rem;
        }
    }

    .about__img {
        display: none;
    }

    .about_main-text {
        font-size: 1.1rem;
        text-align: center;
    }

    .about__main {
        text-align: center;

    }

    .about__table {
        margin: 38px auto;
    }

    .service-content__item {
        width: 80%;
    }

    .progress-content {
        justify-content: center;
    }

    .progress-item {
        width: 80%;
        margin-bottom: 40px;
    }

    .container-left {
        flex-wrap: wrap;
    }

    .container-part {
        width: 80%;
        margin-bottom: 80px;
    }

    .blog-content__item {
        width: 80%;
        margin-bottom: 30px;
    }
}

@media(max-width: 580px) {
    .header-img {
        width: 50%;
    }

    .header-text {
        margin-left: 30px;

        &__iam {
            font-size: 2.2rem;
        }
    }

    .freelancer-content .btn-trans{
        width: 150px;
        height: 40px;
        font-size: 1rem;

    }
}

@media(max-width: 560px) {
    .slider {
        width: 100%;
        margin: 0 auto 48px;
        padding: 81px 36px 50px;
    }

    .header-text {
        &__iam {
            font-size: 2rem;
        }

        &__develop {
            font-size: 1.5rem;
        }
    }
}

@media(max-width: 490px) {

    .header-text__hello {
        font-size: 1rem;
    }

    .header-text__iam {
        font-size: 1.2rem;
        line-height: 1;
        line-height: 1.5;
    }

    .header-text__develop {
        font-size: 0.8rem;
        line-height: 1.5;
        margin-bottom: 25px;
    }

    .header-text .btn-trans {
        font-size: 1rem;
        width: 120px;
        height: 40px;
    }

    .header-img {
        width: 50%;
    }

    .freelancer-text{
        justify-content: center;
        width: 100%;
        text-align: center;
        align-items: center;
        padding-left: 0;

        &__title{
            font-size: 2.1rem;
            line-height: 1.5;
        }

        &__subtitle{
            font-size: 0.9rem;
            line-height: 0.5;
        }
    }

    .freelancer-btn .btn-trans{
        display: none;
    }
}


@media(max-width: 385px) {
    .container-part__title {
        font-size: 1.7rem;
    }
}

@media(max-width: 350px) {

    .header-text__hello {
        font-size: 0.8rem;
    }

    .header-text__iam {
        font-size: 1rem;
        line-height: 1;
    }

    .header-text__develop {
        font-size: 0.7rem;
        line-height: 1.5;
        margin-bottom: 25px;
    }

    .header-text .btn-trans {
        font-size: 0.8rem;
        width: 100px;
        height: 35px;
    }

}