.footer-content {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__text{
        font-size: 0.93rem;
    }

    &__social{ 

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__ico{
        height: 22px;
        margin-left: 41px;
        transition: all .3s ease;        &:hover{
            fill: $red;
                }
    }

  }
